:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  width: 800px;
  height: 600px;

  font-family: "Consolas";
}

button:hover{
  cursor: pointer;
}

.container {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
}

p1{
  color: #f2f2f2;
  font-size: 14px;
}

p2{
  color: #262626;
}

.window-title {
  padding-top: 0.5em;
  margin-left: 0.5em;
  height: 2em;
}

.content {
  margin-top: 0.3em;
  margin-left: 1.75em;
  margin-right: 1.75em;
}

.table-header {
  margin-left: 0.75em;
  padding-bottom: 0.4em;
  display: grid;
  grid-template-columns: 7% 40% 39.5% 5.75% 8%;
}

.table-header > p1{
  align-self: flex-end;
  line-height: 1.2em;
}

.sync-entry{
  background-color: #f2f2f2;
  height: 3em;
  margin-bottom: 1.2em;
  width: 100%;
  display: grid;
  grid-template-columns: 6% 39.25% 39.5% 6.25% 8%;
  align-items: center;
}

.state{
  width: 1em;
  height: 1em;
  background-color: #05A66B;
  margin-left: 1.5em;
  border-radius: 100%;
}

.state:hover{
  cursor: pointer;
}

.from-folder{
  width: 92%;
  margin-left: 1.25em;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.to-folder{
  width: 92%;
  margin-left: 1.25em;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.sync-icons{
  margin-left: 1.5em;
  width: 0.75em;
  height: 0.75em;

  display: flex;
  align-items: center;
  justify-content: center;
}

.sync-icons:hover{
  cursor: pointer;
}

.edit-icon{
  width: 0.9em;
  height: 0.9em;

}

.sync-icons > img {
  width: 100%;
  height: 100%;
}

.add-sync-entry-button{
  margin: 0 auto;
  margin-top: 1.2em;
  display: block;

  background-color: #f2f2f2;
  border: 0;

  font-family: "Consolas";
  font-size: 16px;
  height: 3em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.version{
  position: absolute;
  bottom: 0;
  right: 0;
  
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.edit-box{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 350px;
  height: 300px;
  background-color: #f2f2f2;
  visibility: hidden;

  box-shadow: 0px 0px 15px #262626;

  display: block;
}

.edit-box-title{
  margin-top: 0.5em;
  margin-bottom: 0.75em;
  margin-left: 0.75em;
}

.edit-path{
  margin-left: 0.75em;
  margin-right: 0.75em;
  margin-bottom: 0.4em;
}

.edit-path > p2{
  margin-left: 0.25em;
}

.edit-path-selector{
  margin-top: 0.35em;
  display: flex;
  
  background-color: #262626;
  height: 2em;

  align-items: center;
}

.edit-path-selector > p1{
  margin-left: 0.5em;
  width: 85%;
  
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.edit-path-selector > img{
  margin-left: 0.75em;
  height: 40%;
  width: auto;
}

.edit-path-selector > img:hover{
  cursor: pointer;
}

.edit-interval{
  margin-left: 0.75em;
  margin-right: 0.75em;
}

.edit-interval > p2{
  margin-left: 0.25em;
}

.interval-settings{
  margin-top: 0.4em;
  
  background-color: #262626;
  width: 25%;
  height: 2em;

  display: flex;
  align-items: center;
}

.interval-settings > input {
  background-color: transparent;
  border-color: transparent;
  outline: 0px solid transparent;

  margin-left: 0.5em;

  font-family: "Consolas";
  color: #f2f2f2;
  width: 2em;
}

.interval-settings > select{
  background-color: transparent;
  border-color: transparent;
  outline: 0px solid transparent;

  font-family: "Consolas";
  color: #f2f2f2;
}

.interval-settings > select > option{
  background-color: #262626;
}

.edit-action-buttons{
  margin-top: 1em;
  margin-left: 0.75em;
  margin-right: 0.75em;

  display: flex;
  justify-content: space-between;
}

.edit-action-buttons > button{
  background-color: #262626;
  border-color: transparent;
  outline: 0px solid transparent;
  color: #f2f2f2;

  font-size: 14px;
  font-family: "Consolas";

  width: 45%;
  height: 3em;
}